
//braft editor
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editor:focus-within {
  //border: 1px solid #F8B21C;
  //border-radius: 5px;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
  z-index:2;
  position: relative;
}

.bf-controlbar {
  display: none;
  box-shadow: none;
}

.editor:focus-within {
  .bf-controlbar {
    background: white;
    z-index: 999;
    display: block;
    position: absolute;
    top: calc(100% - 15px);
    width: calc(100% - 10px)
  }
}

.bf-content {
  height: auto;
  overflow: auto;
  padding: 0;
}

.bf-container .public-DraftEditor-content {
  padding: 5;
}

.bf-container .public-DraftEditor-content > div {
  padding: 0;
}

.sun-editor {
  border: none
}

.sun-editor:focus-within {    
  box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
}

.sun-editor{
  z-index: 0;
  .sun-container{
    z-index:-1;
  }
  
  .se-wrapper{
    z-index: 0
  }

  ._se_table_header{
    display: none! important;
  }

  ._se_table_fixed_column{
    display: none! important;
  }

  ._se_table_resize{
    display: none! important;
  }

  button[data-command="table"] {
    display: none! important;
  }

  button[data-command="remove"] {
    display: none! important;
  }
}

.bf-container{
  blockquote{
    background-color: white;
    border-left: none;   
  }
  pre{
    background-color: white;
    font-family: monospace !important;
    font-weight: 600;
  }
}